[2019-09-24 16:19] ToddForsberg opened #1 "Compile Error"
I realize this is a brand new project so maybe it is not completed yet...

FYI:  I got this error when building the project.

![image](https://user-images.githubusercontent.com/37591206/65530194-17250c80-debd-11e9-9d9b-fff632c6e33c.png)

[code]

![image](https://user-images.githubusercontent.com/37591206/65529710-45eeb300-debc-11e9-9013-0aaa0fa8aaca.png)

[code]

[2019-09-24 18:08] mbdavid commented on #1
Hi @ToddForsberg, I saw this error. I need update LiteDB nuget version with current master branch. I'm doing today or tomorrow. I split repos to be easy to work, but now I keep nuget updated!

[2019-09-24 18:08] #1 closed

[2019-09-24 18:09] ToddForsberg commented on #1
Thanks.  I'll check back later.

[2019-11-08 20:36] zblesk opened #2 "What query syntax should I use?"
I can't seem to figure out how to do even a basic query.

I have Feed records that have a list of Items.
I'm trying to find any Feed whose Items list has an enrtry where the URL field is 'test'.

I've tried things like this:

` SELECT $ FROM Feed where $.ITEMS[*].Url = 'test'`

But I always get just
[code]
I have not succeeded in using "ANY" or "ALL" - no idea how.

When I run just `SELECT $ FROM

[2019-11-08 21:00] tiksn opened #3 "Installer or Chocolatey package"
It would be nice to have installer of Chocolatey package.

[2019-11-12 11:44] mbdavid commented on #2
Hi @zblesk, sorry about that, It's missing documentation about SQL syntax. In this case, you must use ANY (or ALL) keyword before equals signal.

`SELECT $ FROM Feed where Items[*].Url ANY = 'test'`

[2019-11-12 11:45] mbdavid commented on #3
Hi @tiksn, I will read more about Chocolatey package to discover how publish there. Thanks!

[2019-11-13 13:43] #2 closed

[2019-11-18 19:53] izlotnik opened #4 "LiteDB.Studio for earlier versions of LiteDB"
It would be great to be able to work with earlier versions of LiteDB. We are still using LiteDB v3.0 and we are not able to read (without conversion) or write our database files. Any plans to support earlier releases of LiteDB?

[2019-11-20 09:44] HolyOne opened #5 "LiteDB Studio corrupts the litedb database"
I have a .net core app generated litedb file. (LiteDB package version 4.1.4)

When I open it with LiteDBStudio, i can see all tables, make queries.

I close LiteDB Studio, I see the database file size is changed. (old one is stored as backup)

After I open my application again, it says "Datafile is not a LiteDB database"

The files showing the one after and before I open the database are attached

[2019-11-20 11:40] mbdavid commented on #5
Hi @HolyOne, when you first open your datafile in LiteDB Studio, this file are upgraded into new file format (used in LiteDB v5). After this, you can't back to v4 format.

[2019-11-20 11:42] mbdavid commented on #4
Yes, I have plans to LiteDB v5 migrate from earlier versions... but will be a migration. After open datafile in LiteDB Studio, you datafile will be converted into new format.

[2019-11-21 09:05] HolyOne commented on #5
I think this process should be confirmed by user on db load.

[2019-12-04 19:31] felixclase opened #6 "Suggestion.. LiteDB.Studio Cross Platform GUI"
Well, basically what is in title.

https://avaloniaui.net

https://github.com/ElectronNET/Electron.NET

https://www.mono-project.com/docs/gui/gtksharp/

[2019-12-04 19:56] mbdavid commented on #6
Hi @felixclase, today another community member create this suggestion:

https://gitlab.com/HankG/litedbportal/

[2019-12-04 20:06] felixclase commented on #6
Excellent.

Thanks

[2019-12-04 20:15] #6 closed

[2019-12-05 22:15] izlotnik commented on #4
That is a great feature to be able to open LiteDB files created in the older releases! At the same time, I would like to be able to update the LiteDB file and store it in the same version as it was before, e.g. v4, because the software I use does not understand the format used in v5. Do you have any plans to support this workflow?

[2020-01-15 00:54] digitalcoyote commented on #3
I'd be willing to create/maintain a package for this project. I'll take a look at this when I get a free moment (got a couple irons in the fire).

[2020-01-15 11:31] gmgunderground opened #7 "Create table"
Hi, how to create a table in LightDB Studio? CREATE Table doesn't work. What are the SQL commands supported?

Best regards
GMG

[2020-01-15 12:41] mbdavid commented on #7
Hi @gmgunderground, there is no create table. You can insert data into a new collection that will auto create this collection.
Use:

[code]

I'm working on LiteDB SQL documentation

[2020-01-15 19:17] digitalcoyote commented on #3
I've got a package submitted for this project (https://chocolatey.org/packages/litedb.studio). It may take a bit to be approved. If you would like, I can add you as a maintainer (requires a Chocolatey account) to give you management rights (delist problematic versions, manually push additional versions, etc). Once this get's approved, I'll try to get a PR ready with installation instructions for t

[2020-01-15 19:37] digitalcoyote commented on #3
Do you want an msi as well? I can  contribute the code for one using [wix#](https://www.codeproject.com/Articles/1231849/Creating-a-Wixsharp-Installer-that-Includes-Prereq).

[2020-01-15 20:11] gmgunderground commented on #7
Very good! It's working.
Thanks

[2020-01-16 13:05] mbdavid commented on #3
Hi @digitalcoyote, thanks for this. I will release new version tomorrow (0.6) and version 1.0 in Jan/31.

[2020-01-23 14:12] digitalcoyote commented on #3
[LiteDB-Studio](https://chocolatey.org/packages/litedb-studio has been approved.

[2020-02-03 04:09] Hellfim opened #10 "Export to json not working"
Hello and thank you for this great tool!
I'm trying to export table into json via generated code
`SELECT $
  INTO $file_json('C:/temp/MyTable.json')
  FROM MyTable;`
and receiving following error:

How can I overcome this issue?

[2020-02-03 13:11] mbdavid commented on #10
Hi! `$file_json` was renamed to `$file`. I'm updating all documentation.

[2020-02-03 19:24] Hellfim commented on #10
Great, thanks! The issue is resolved.

[2020-02-03 19:24] #10 closed

[2020-02-04 12:27] chencun opened #11 "v1.0.1 can't run"
Are you miss some files?

v1.0.0 size : 1.11 MB

v1.0.1 size : 529 KB

error:

应用程序: LiteDB.Studio.exe Framework 版本: v4.0.30319 说明: 由于未经处理的异常，进程终止。异常信息:  System.IO.FileNotFoundException 在 LiteDB.Studio.MainForm..ctor(System.String) 在  LiteDB.Studio.Program.Main(System.String[])

[2020-02-04 12:35] mbdavid commented on #11
Sorry, wrong upload file. Now I fixed with correct file

[2020-02-04 12:39] chencun commented on #11
ok,thanks!

[2020-02-04 12:39] #11 closed

[2020-02-04 18:37] nightroman opened #12 "Cannot start v1.0.1 on Windows 8.1"
v1.0.1 cannot start on my Windows 8.1 machine.

- v1.0.0 starts fine on the same Windows 8.1 machine
- v1.0.1 starts fine on another Windows 10 machine

Error:
![image](https://user-images.githubusercontent.com/927533/73775184-54f44480-477d-11ea-9564-ff989e22db14.png)

[2020-02-05 12:58] nightroman commented on #12
I cloned the repos, built, and got LiteDB.Studio v1.0.1 working on all my machines.
Problem "solved", feel free to close. Maybe it was just a glitch, a bit weird though...

Thank you for the awesome tools.

[2020-02-10 10:24] igitur commented on #3
While this issue is still open, can I add a request to add it as a scoop package? ( https://scoop.sh )

[2020-02-12 10:07] #12 closed

[2020-02-13 16:06] DAVIDSystems opened #13 "How do i delete delete a document ?"
DELETE FROM CollectionName is not working ?
Is there any possibility to delete in LiteDB.Studio
I'm using the currrent GitHub version of  LiteDB.Studio

[2020-02-15 12:33] mbdavid commented on #13
In delete WHERE is required. (I will fix this in next version)

[2020-02-15 13:05] DAVIDSystems commented on #13
Thanks and my greatest respect for the LiteDB library....

[2020-02-15 13:11] #13 closed

[2020-02-22 16:14] darcome commented on #13
Can you please give me an example? I've not been able to make it work.

Thanks in advance

[2020-02-23 07:14] DAVIDSystems commented on #13
Actuall you need to write: "DELETE articleLinks WHERE _id <> 1;"
The bug is not in the LiteDB.Studio but in the file Delete.cs in the SQL-Parser in LiteDB

`        private BsonDataReader ParseDelete()
        {
            _tokenizer.ReadToken().Expect("DELETE");

           here the line:  _tokenizer.ReadToken().Expect("FROM"); is missing
            var collection = _tokenizer.ReadToken().Expec

[2020-02-29 10:28] darcome commented on #13
Hi, I tried "DELETE articleLinks WHERE _id <> 1"

but I recive the following error:

Unexpected token `>` in position 32.

ELETE articleLinks WHERE _id <> 1
-------------------------------^

Can you pleease help me?
Thanks in advance

[2020-02-29 15:54] mbdavid commented on #13
Sorry, there is no `<>` as diffente... use .NET syntax `!=`

[2020-02-29 16:02] darcome commented on #13
It works! Thank you very much!

[2020-03-01 11:40] sayeduzzamancuet opened #14 "Can not run the exe and connect to livedb v5 database file"
I have downloaded the exe included in the project but it does not load the database.

[2020-03-01 21:14] FreakMegalodon opened #15 "Problem opening db file in shared mode"
Hi, greetings from Rio de Janeiro!

I can reproduce it with one file in one folder using v.1.01.0

* Open LiteDBStudio
* Select "MyFolder\MyData.db"
* Set Connection Mode to 'Shared' <== [ If set to 'Direct', db will load ]
* LiteDBStudio freezes [ with 'Reading...' message and about 5% progress ]
* Force closing LiteDBStudio

Then I move MyData.db to MyFolder2 (it's not a copy, is the same file):

[2020-03-04 06:23] vgolovanov opened #16 "Non latin text (cyrillic) displays as UTF codes insteed of text."
Hi.
When the data in tables in non-Latin encodings, this data is displayed as a utf codes. Аn example in attached screenshot

Best regards.
Vyacheslav.

![Зйомка на весь екран 04 03 2020 80351 bmp](https://user-images.githubusercontent.com/6534550/75850591-5b172880-5df0-11ea-88a3-0a42392f7e0f.jpg)

[2020-03-10 19:19] philipphagen87 opened #17 "Open Data file - BSON type not supported"
Hi!

I always get the error that BSON type is not supported.

I use studio version 0.5.0.0

System.NotSupportedException: BSON type not supported
   bei LiteDB.Engine.BufferReader.ReadElement(HashSet`1 remaining, String& name)
   bei LiteDB.Engine.BufferReader.ReadDocument(HashSet`1 fields)
   bei LiteDB.Engine.HeaderPage.LoadPage()
   bei LiteDB.Engine.HeaderPage..ctor(PageBuffer buffer)
   bei L

[2020-03-12 14:00] simonmurrell opened #18 "Recently Used Files"
Hello Guys

Would it be possible to add a recently used files capability into the application. So you can re-open old databases?

Regards,
Simon

[2020-03-15 17:29] gothrek opened #20 "select rows limit 1000"
its possible see more than 1000 rows from a select?

[2020-03-17 12:14] nightroman commented on #16
I believe the problem is in LiteDB JSON serialization and it should be solved there first, see the linked issue. Then LiteDB Studio (updated) should probably work fine, unless there are different issues with displaying non-Latin letters.

[2020-03-18 03:02] josephinenewbie commented on #20
select $ from TABLE **limit 100**

[2020-03-18 14:48] lbnascimento commented on #17
@philipphagen87 Could you provide the datafile you're using?

[2020-03-19 13:17] nightroman commented on #16
The main issue was fixed in LiteDB. So in theory and hopefully the updated Studio should work fine.

@mbdavid Any chance to get these two products updated? I am a non-Latin user :), too, looking forward to updates.

@lbnascimento Thank you for the fix once again.

[2020-03-25 14:40] RichardClaxton commented on #17
Hello,

I am having the same issues.

Using LiteDB version 5.0.4.0

here is a simple data file that fails to load in LiteDB.Studio but ok using my code.

Thanks Richard.

[jobs.zip](https://github.com/mbdavid/LiteDB.Studio/files/4381558/jobs.zip)

[2020-03-25 15:24] lbnascimento commented on #17
@RichardClaxton Your file seemed to open correctly here (there are no collections other than the system collections). What version of LiteDB Studio did you use?

[2020-03-25 16:18] RichardClaxton commented on #4
It was Version 1.0.1

I might try some older versions.

[2020-03-25 16:19] RichardClaxton commented on #17
It was Version 1.0.1
I might try some older versions.

[2020-03-25 16:34] RichardClaxton commented on #17
Very strange i have just down loaded it again
it is displaying version v1.0.1.0 and it has correctly loaded the .db file.

[2020-04-13 07:08] johan-dahlgren commented on #17
Hi!
Also had the same problem.
But it turned out to be the blocking of files downloaded from Internet that was the problem.
Just unblock the file in the file-properties and it works again.

[2020-04-15 17:57] LightSeekerSC commented on #14
I am also having trouble figuring out how to connect. What file am I supposed to select to connect to the database?

[2020-04-15 19:13] LightSeekerSC commented on #14
When I go to my litedb file structure this is what I see

- litedb (folder)
  - 0x7ea138fe (folder)
    - index (folder)
      - blacklist
      - map
    - info (folder)
      - config
      - size
      - table_type
      - unused_indexes
    - shard0

Which of these files am I supposed to select when loading the database in litedb.studio? I tried selecting the shard0 and map, but neither of tho

[2020-04-15 19:28] lbnascimento commented on #14
@LightSeekerSC What do you mean by "litedb file structure"? LiteDB creates only a single file, which is your datafile.

[2020-04-17 09:13] Delog-ru opened #21 "DateTime syntax in SQL"
Can't figure out how to construct SQL expression with DateTime.
`SELECT $ FROM Protocols Where created > "2020-04-01T00:00:00.00Z";`
doesn't work properly. It just shows everything. Field "created" is indexed.

[2020-04-17 13:32] lbnascimento commented on #21
@Delog-ru Something like `SELECT $ FROM Protocols Where created > DATETIME('2020-04-01T00:00:00.00Z')` should work

[2020-04-17 15:14] RichardClaxton opened #22 "Delete Syntax"
Using LiteDB Studio v.1.0.1.0

What would be an example of deleting a record?

I have used SQL like syntax

DELETE FROM jobs WHERE JobId = "025086"

but I get the error message.
Unexpected token `jobs` in position 13. Expected `WHERE`.

DELETE FROM jobs WHERE JobId
-------------^

Its not clear what the syntax should be if I change it to

DELETE WHERE JobId = "025086"

I get the error

Unexpected

[2020-04-17 15:17] lbnascimento commented on #22
@RichardClaxton No need for `FROM`, just do something like `DELETE jobs WHERE JobId = "025086"`

[2020-04-17 15:28] RichardClaxton commented on #22
Thanks that works, thanks for quick response.

[2020-04-17 15:28] #22 closed

[2020-04-17 18:21] WalkerDaleT opened #23 "Can't figure out the syntax to count or display the number of different values in a column"
DISTINCT ColumnName does not seem to be parsable

Select Count(DISTINCT ColumName) from TABLE fails
Select DISTINCT ColumnName from TABLE fails also.

[2020-04-17 19:28] WalkerDaleT commented on #23
Actually
Select Column DISTINCT from TABLE does see to execute, but returns all rows, not just DISTINCT rows.

[2020-04-17 19:42] lbnascimento commented on #23
@WalkerDaleT Something like `select distinct(*.Column) from Table` should work.

[2020-04-17 20:50] WalkerDaleT commented on #23
Thank you. This issue can be closed.

[2020-04-17 21:18] #23 closed

[2020-04-23 14:37] dsniegocki opened #24 "multiple "group by""
Hello -

Does the query engine currently support multiple "group by"?  receiving this error:

    Unexpected token `,` in position 112.
    customers  group by gitprovider, plan
    -------------------------------^

...when running this query:

    SELECT distinct(*.gitprovider),
    distinct(*.plan),
        count(*) as total
    FROM customers
    group by gitprovider, plan

[2020-04-23 14:57] lbnascimento commented on #24
@dsniegocki Technically no, but you can achieve it by grouping by a document that contains the fields you want.

[code]

The special field `@key` returns the grouping expression for every group. In a group-by query, you can only select `@key` and aggregate functions over fields.

[2020-04-23 14:59] dsniegocki commented on #24
Thank you!

[2020-04-23 14:59] #24 closed

[2020-04-24 00:11] valgen opened #25 "3 engines detected the EXE file as malicious"
Hi guys,

I've checked this file
**https://github.com/mbdavid/LiteDB.Studio/releases/download/v1.0.1/LiteDB.Studio.exe**
with VirusTotal and got this result:
[https://www.virustotal.com/gui/file/a71f4bf7dc597d7d4d55e3d88d10b40c399f8c04aa4aa617fbbd148a9b0522ae/detection](https://www.virustotal.com/gui/file/a71f4bf7dc597d7d4d55e3d88d10b40c399f8c04aa4aa617fbbd148a9b0522ae/detection)

Should I worry a

[2020-04-24 13:23] lbnascimento commented on #25
@valgen Not sure why this is happening, but those are clearly false positives. LiteDB and LiteDB.Studio are completely open source, you can check the sources and build the projects yourself if you wish.

[2020-04-24 17:55] SpookyPool opened #26 "Linux Version"
Could u maybe also release a Linux version? Would be appreciated

[2020-04-25 00:13] valgen commented on #25
Hi @lbnascimento,

Thanks for your quick reply.

Maybe someone can consider submitting a false positive request to the 3 engines?
https://www.secureaplus.com/features/antivirus/report-false-positive/
https://www.maxsecureantivirus.com/submit_aFalse_Positive.htm
https://trapmine.com/company/contact-us/

[2020-04-27 13:33] lbnascimento commented on #25
@valgen Will do, thanks for the tip.

[2020-04-27 13:33] #25 closed

[2020-05-10 13:00] a-a-k opened #27 "Can't open db file (LiteDB v5)"
I'm trying to open db file but the process fails with next exception:

[code]

My db file here

[Recycling.zip](https://github.com/mbdavid/LiteDB.Studio/files/4605697/Recycling.zip)

[2020-05-10 13:25] a-a-k commented on #27
@mbdavid please take a look

[2020-05-10 23:03] federicoorlandini commented on #27
Same problem here.

[2020-05-10 23:07] federicoorlandini opened #28 "Missing LiteDB project in the LiteDB.Studio solution"
Hi,

If you open the LiteDB.Studio solution, you can see that it includes a LiteDB project which is not present.

[2020-05-11 14:07] lbnascimento commented on #27
@a-a-k Your file opens just fine here with LiteDB v5.0.7 (and Studio v1.0.2.0). What version are you using?

[2020-05-11 14:12] a-a-k commented on #27
I'm using the same versions. Am I doing something wrong?

[2020-05-11 14:32] lbnascimento commented on #27
@a-a-k I'm not sure what is happening. This error usually means that the datafile is corrputed, which is weird because it opens fine here - I even looked at the hex dump of each page and there doesn't seem to be any corruption or inconsistency.

Is there a log file for your datafile?

[2020-05-11 14:36] a-a-k commented on #27
Where do I found it?

[2020-05-11 14:38] lbnascimento commented on #27
@a-a-k In the same folder where your datafile is located. It should be called something"-log.db".

[2020-05-11 14:46] a-a-k commented on #27
there no any log files

[2020-05-11 14:56] lbnascimento commented on #27
@a-a-k Can you open this rebuilt datafile?
[Recycling-rebuild.zip](https://github.com/mbdavid/LiteDB.Studio/files/4610336/Recycling-rebuild.zip)

[2020-05-11 16:11] a-a-k commented on #27
I can't even unzip this :(

[2020-05-11 16:28] lbnascimento commented on #27
@a-a-k Could you zip and upload the LiteDB and LiteDB.Studio projects you're using to open the datafile?

[2020-05-11 16:36] a-a-k commented on #27
I took LiteDB via nuget. Studio was taken as zip from here

[LiteDB.Studio-master.zip](https://github.com/mbdavid/LiteDB.Studio/files/4610862/LiteDB.Studio-master.zip)

[2020-05-11 16:49] lbnascimento commented on #27
@a-a-k Does the error happen when you open the file or does it happen when you run a specific query?

[2020-05-11 16:59] a-a-k commented on #27
when opening the file. may be any settings there not specified correctly?

[2020-05-12 11:32] quicksln commented on #28
Hello. I’m having the same issue.

**Description :**
If you don’t have LiteDB projected already cloned – when cloning LiteDB.Studio, LiteDB.Studio is missing reference to that project. Please see attached print screen for details.
![Annotation 2020-05-12 133039](https://user-images.githubusercontent.com/65227444/81681890-cf0b2800-9454-11ea-8493-800f876e6f24.png)

**Solution :**
LiteDb.Studio could

[2020-05-13 08:39] quicksln commented on #28
I've created PR fixing this issue.

[2020-05-13 10:33] a-a-k commented on #27
@lbnascimento any idea?

[2020-05-17 10:28] sohilww commented on #27
I had the same problem, I was using the .exe file beside the .sln file, it uses an old version of lite.db engine...
I built a project and it worked correctly.
for building project check the [Issue 28](https://github.com/mbdavid/LiteDB.Studio/issues/28)

[2020-05-17 12:30] a-a-k commented on #27
Thank you man! Solved!

[2020-05-17 12:33] #27 closed

[2020-05-17 12:41] a-a-k opened #30 "INSERT syntax?"
Is it even possible using Studio?

[2020-05-17 12:48] a-a-k commented on #17
take a look here - #27

[2020-05-17 12:51] a-a-k commented on #30
just find info here - #7

[2020-05-17 12:51] #30 closed

[2020-05-17 15:33] federicoorlandini commented on #28
The pull request is still open. I reviewed it and it looks good. Is there any possibility to see the pull request accepted and merged in master branch?

[2020-05-17 18:55] quicksln commented on #28
Hi @federicoorlandini, thank you for reviewing my PR.

Only @mbdavid @lbnascimento project contributors can accept and merge PR into master.
Of course, if they see PR valuable for future project evolution. So we need to be patient and
wait for response/feedback :)

Cheers
Piotr

[2020-05-18 08:51] rbeesley commented on #3
@igitur, agreed. Two or three years ago, all I wanted was Chocolatey. However for a lot of my dev tools, I find that Scoop serves me better. There are still some things for which I'll go back, but if you aren't installing globally, scoop just seems to be so much less invasive.

[2020-05-18 15:30] #28 closed

[2020-06-03 13:06] sergeylutski commented on #16
Started using LiteDB recently and is really impressed with its functionality, simplicity and productivity. Great product and thanks for your efforts to maintain and develop it!

However this bug with strange displaying of Russian characters is quite frustrating, as all the data in DB becomes not evident:
![Screenshot_2](https://user-images.githubusercontent.com/6950418/83639821-eb156b80-a5b3-11ea-

[2020-06-03 14:16] lbnascimento commented on #16
@sergeylutski I just tested LiteDB.Studio with cyrillic text and it was rendered correctly. What version of LiteDB and LiteDB.Studio are you using?

[2020-06-03 21:20] sergeylutski commented on #16
@lbnascimento LiteDB v5.0.8 and LiteDB Studio v1.0.1.0. Both are the latest I suppose.

[2020-06-04 13:42] lbnascimento commented on #16
@sergeylutski Could you send me the datafile you're having this issue with?

[2020-06-04 14:08] nightroman commented on #16
@lbnascimento Are you using LiteDB Studio v1.0.1.0 or built on your own (and do not see the issue)?

I believe the latest LiteDB Studio v1.0.1.0 is using LiteDB 5.0.1.
See my comments above in this thread.
I think you should release up to date LiteDB Studio.

[2020-06-04 14:14] sergeylutski commented on #16
@lbnascimento Here is the DB where I'm not able to see correct cyrillic symbols:
[cyrillic_test_lite.zip](https://github.com/mbdavid/LiteDB.Studio/files/4730582/cyrillic_test_lite.zip)

You will be able to see plenty of cyrillic data in DictionaryInfos and DictionaryValues collections

[2020-06-04 16:23] sergeylutski commented on #16
@lbnascimento WOW! It works like a charm. And the speed of your reaction and fix release is fantastic and incredible. Really appreciate this and becoming a fan of LiteDB more and more. Great thanks Leonardo for the help and assistance.
From my point of view issue is solved and you can close it.

[2020-06-12 09:41] xdmushui opened #31 "Order by issue"
![image](https://user-images.githubusercontent.com/3242057/84489149-d0d63e80-acd3-11ea-96b8-833f086de323.png)
Click total on the header to order by. the displayed data is incorrect.

[2020-06-15 14:45] lbnascimento commented on #31
@xdmushui This issue has been fixed in the master and its fix will be present in the next incremental release.

[2020-06-15 14:45] #31 closed

[2020-07-11 16:49] stigzler opened #32 "Suggestion: Dark mode"
Hi, I did mess about with the code a bit to try and get a dark mode going, but got a bit stuck - any change of a dark mode?

[2020-07-18 21:42] AlBannaTechno commented on #18
I agree with you this is a very important feature,

I am very bussy now, but I will try to implement this feature soon.

[2020-07-19 01:06] AlBannaTechno commented on #18
### I Implemented it partially here #33

implementing a full recent list will take much time for designing UI and create some shape of DB or use `LiteDb` itself, so this will take much time now,
but once I have free time, I will work on it, if no one wants to implement it :)

[2020-08-01 16:34] AlBannaTechno commented on #26
[Read This](https://itsfoss.com/use-windows-applications-linux/)

Note, this app implemented in windows form, so we can not migrate it to Linux since this exclusive belong to windows os

so the best way to go around this is to re-implement the whole application UI in
[AvaloniaUI](https://avaloniaui.net/)

and run it with .net core on Linux, it needs a lot of work :(

[2020-08-01 16:37] AlBannaTechno commented on #18
Now In #33, I Finished the implementation of
* Load last opened database on startup
* Load last opened database with one click
* Show recent databases list, and set maximum values in recent databases in the list

So
 @mbdavid @lbnascimento :
This Issue should closed after accepting the pull request

[2020-08-20 19:56] Floowey opened #34 "Query support for IDs of type ulong"
When trying to query a database entry with an ID of datatype ulong, an exception that the Parse to int32 has failed.
I'm using a POCO class to store UserAccounts for Discord Users (hence why the id is a ulong), the BSON (correctly) looks like this

[code]

However when I try to query for this with

[code]

I get the following Exception:
[code]

I see that the issue is that it never intends to expe

[2020-08-20 21:14] lbnascimento commented on #34
@Floowey A few things:

1. This issue should actually be in the LiteDB repository, so I'll close it (after this answer) and, if you have further questions, you can create a new issue in the LiteDB repo.

2. The query `select $ from UserAccount where _id={"$numberLong": "300339714311847936"}` should work fine for you.

3. Even though the parser currently expects a long to be represented with the `$

[2020-08-20 21:14] #34 closed

[2020-08-25 06:35] mjfreelancing opened #35 "Column data not displayed"
I have an array of 512 elements, each element looks like so:

public class Spectra
{
  public double Wavelength { get; set; }
  public double Wavenumber { get; set; }
  public double Value { get; set; }
  public double? Processed { get; set; }
}

I've discovered that this data IS stored in the database but DbStudio shows an empty cell.

If I reduce the number of items to 450 then I can see the JSO

[2020-08-28 18:39] redwyre opened #36 "ANALYZE always fails"
Right click on a table, click analyze, creates query `ANALYZE ac;`, click Run

[code]

[2020-08-28 18:41] redwyre opened #37 "Add option to verify database is not corrupt"
The best way to test db integrity I can find is to select "Rebuild" on database.

[2020-08-31 08:38] luckymark opened #38 "Shared mode Failed"
When a database opened by an app with shared mode, Studio open that database  with shared mode will fail!

[2020-08-31 15:38] lbnascimento commented on #38
@luckymark I could not reproduce the issue, Shared mode seems to work just fine here. Could you provide a sequence of steps to reproduce the issue?

[2020-09-04 15:33] lbnascimento commented on #38
@luckymark You're using the connection string incorrectly, it should be `Connection=Shared`. For more info, check out the [Connection String documentation](http://www.litedb.org/docs/connection-string/).

[2020-09-05 03:50] luckymark commented on #38
@lbnascimento Shared mode works！
Thanks a lot！

[2020-09-05 03:50] #38 closed

[2020-10-19 20:47] dsoronda commented on #26
Other option is to rewrite using Eto.Forms to create multi-platform Application. Of course, it will take some time.

[2020-10-20 15:55] AlBannaTechno commented on #35
What @mjfreelancing means
Is: For nested collection, the cell in the column will not show any text after `Max` string length

#### reproduce the issue

[code]

If you open `The LiteDB Studio`
you will find `Spectras` Column `Specific Cell` Empty

[2020-11-18 23:48] RichardLazaro opened #40 ""Import from JSON" example induce in error"
Hi,

When using the feature "Import from JSON", it show an example as 'C:/temp/file.json'
Except, on windows path are defined with backslash and not slash.

So if you copy from the windows explorer, you have this type of path 'C:\temp\file.json'
In my opinion, the example should show something like :

SELECT $
  INTO new_col
  FROM $file('C:\\temp\\file.json');

I'm new in NoSQL and LiteDB, so i t

[2020-11-25 07:16] MostHated commented on #32
I came across this one earlier today.

https://github.com/julianpaulozzi/LiteDbExplorer

  <img src="https://raw.githubusercontent.com/julianpaulozzi/LiteDbExplorer/master/web/start_dark.png" width="800">

[2020-11-29 09:13] MostHated opened #41 "Interface adjustment suggestion."
Hey there,
Not sure if you are keen to it, but I came across this earlier https://github.com/RobinPerris/DarkUI for WinForms. If I am not mistaken, it looks like you may just have to inherit from DarkForm and then change the reference on a few control and it would give the application a nice dark theme. I am sure many, myself included, would quite appreciate it.

Thanks,
-MH

[2020-12-03 10:16] tdwright opened #42 "Allow tabs to be closed"
Love the tool - both LiteDB itself and the studio.

I would like to add some functionality to close tabs once opened. Would you welcome a PR?

[2020-12-09 23:06] kitsu opened #43 "Errors and Exceptions Opening Readonly"
While testing locally and using Studio read only I frequently get error popups about "writing".
Now it is also failing to open in shared mode readonly:
[code]

[2020-12-19 10:10] fubar-coder opened #44 "Question: How to specify query parameter values?"
I can use - for example - `@0` and `@abc` as parameters, but where do I specify the parameter values? It seems that the `Parameters` tab is always read-only?

[2020-12-30 14:39] rpm11 opened #45 "System.ArgumentOutOfRangeException in BalanceString function"
The exception is thrown when direName.Length = 19, for example.
For testing purposes, changed
`return startCounter > direName.Length + 3 ? path : $@"{direName.Substring(0, startCounter)}...\{fileName}";`
to
`return startCounter > direName.Length + 3 ? path : $@"{direName.Substring(0, startCounter - 3)}...\{fileName}";`
and it seems to work fine.
Thank you!

[2020-12-31 01:57] augomat opened #46 "Editing always fails"
Compiled last version (1cda397), editing of attached db always gives me "Current document not found"

![image](https://user-images.githubusercontent.com/24647634/103370323-cee79780-4acc-11eb-8119-283557155ee8.png)

![image](https://user-images.githubusercontent.com/24647634/103370346-ddce4a00-4acc-11eb-9814-3fe253860c84.png)

Something seems to be odd with the tags, not sure how this is supposed t

[2021-01-06 12:05] john-bartu commented on #42
@tdwright
If you talk about query  tabs  like 1,2,3,4...
You can close those tabs using middle mouse button/ pressing scroll wheel.

[2021-01-06 12:20] tdwright commented on #42
Thanks @john-bartu. That wasn't obvious, but your answer solves my problem.

[2021-01-06 12:20] #42 closed

[2021-01-08 23:57] Bluscream commented on #20
This does only show less results, not more!

[2021-01-08 23:58] Bluscream opened #47 "What language is used in the input box?"
i tried sqlite-like `SELECT $ FROM players where _id like 'usr_1';` but it did not work

[2021-01-20 12:43] gothrek commented on #20
tks :(

[2021-01-20 12:43] #20 closed

[2021-01-26 17:09] davidbuckleyni opened #48 "Removing the descriptive text in the file"
Is their anyway of removing the descriptive name inside the contents of the file lite db creates by this i mean for example if one looks in notepad it sees this.

Just would lessen the chance of someone knowing right away what how to look at the data also what encryption methods are open to us with lite db.

![image](https://user-images.githubusercontent.com/5619229/105878586-1b08f780-5ff9-11eb-85

[2021-02-06 10:06] markusstephany commented on #46
It seems that the UIExtensions class broke the grid as cell tags are not set anymore to document data. Also the overall handling has changed so I think the GrdResult_CellBeginEdit in MainForm does not work anymore. I tried to fix those issues (and it seems to work...) in my fork (markusstephany/LiteDB.Studio, branch "spy" and maybe master). but as I faced that issue after quite a few other modific

[2021-02-06 18:29] augomat commented on #46
Thanks al lot, will try it out!
It's a pity that much of the improvements/fixes appear to happen in forks which are never merged back.
However, as you pointed out, the diff of yours is huge, mainly due to code formatting as far as I have seen. That's unfortunate.

[2021-02-06 18:49] markusstephany commented on #46
Yes, most of the changes are cosmetics (personal ReSharper code style applied). Except for the settings dialog and the editing issues. Maybe someone can back-port the latter mods to the original code base...

[2021-02-17 12:07] Kirides opened #50 "Checking _files/chunks data"
How can we check the files content after it has been uploaded to the FileStorage?

We upload a bunch of XML documents and other human readable stuff into the LiteDb FileStorage, but currently we have to download the file by it's ID with a separate application if we want to look at the files contents.

It would be awesome if there was a way to look at a files content and provide the proper encoding

[2021-03-15 15:02] Deilan opened #51 "Capability to edit a document"
Capability to edit a document is crucial

[2021-04-30 14:33] javs1979 commented on #51
I concur. Considering the transactions buttons (**Begin**, **Commit**, **Rollback**, maybe **Checkpoint** too), any end user expects editing capabilities. Unfortunately, editing seems impossible as of now.

When can we expect a fix from a feature that is supposed to be working already ?

[2021-06-01 13:51] Paul-Williams commented on #20
Why was this closed? Is this solved?

[2021-06-06 13:32] ahmedhm19 opened #54 "Bug when using "Shared" connection mode to open an encrypted database file"
Hi,

When i try to open an encrypted database file using "Shared" connection mode i got this exception message :

[code]

[2021-06-07 04:39] maratmuginov opened #55 "Support High DPI Awareness"
.NET Framework WinForms defaults to 90 dots per inch. WinForms applications running on high dpi monitors will appear blurry. Thankfully there is an easy fix with the SetProcessDpiAware Win32 API function

[2021-06-11 13:34] tjmoore commented on #20
Not solved in the latest version (1.0.2).

`SELECT $ FROM TABLE limit 2000`

and I get 1000.

Same command from LiteDb.Shell and I get all events up to 2000 max.

[2021-06-27 13:38] Paul-Williams commented on #51
I am using v1.0.2.0 and can edit documents as expected.
The document's row-cell background is colored green after an edit. Re-running the `SELECT` query confirms that the changes were persisted.

[2021-06-27 13:49] Paul-Williams opened #57 "Enhancement: Delete document/row from query result grid"
It would be really handy if it were posssible to delete a document directly from the query results grid.
Ideally by clicking the row selector and then pushing the `Delete` button on the keyboard.
Perhaps this action could trigger a delete based on `_id`, for the selected row, and then re-run the  `SELECT` query.

[2021-07-26 16:01] lawrence-laz commented on #50
Viewing uploaded images would be awesome too. Maybe to generalize this there could be something like: download file to a temp folder and open using default program?

[2021-08-01 00:51] ycgambo opened #59 "Any thoughts about MacOS client?"
A MacOS client will be great. Or a datagrip/vscode plugin which will works cross platform

[2021-08-24 13:44] knuxbbs commented on #59
The [H2 database](https://h2database.com/html/main.html) has a very nice browser based console application.

<img width="1536" alt="Captura de Tela 2021-08-24 às 10 37 56" src="https://user-images.githubusercontent.com/2906620/130627040-9219ca9a-9682-420b-aeab-afa530ea2285.png">

Maybe it's time to start something similar and offer users an agnostic experience. This is a great opportunity to use

[2021-09-27 19:37] rrirower opened #60 "Import from Json: Unexpected token `{`"
Admittedly, I am new to both noSQL and LiteDB.  I've downloaded the Studio and have been playing around with it to become familiar with the concepts.  However, when I try to import a JSON file, I get an error:

[code]

The file is very simple and is something I found in a noSQL article.   It consists of:

[code]
Since there's no wiki or help file, I'm looking for guidance on how to use this tool.

[2021-09-30 19:03] sapientcoder commented on #57
Agreed - would love this feature.

[2021-10-05 20:07] rrirower commented on #60
Is anyone available to help?

[2021-10-14 12:23] findcaiyzh opened #61 "How to join two tables?"
I found the key word <Key word="JOIN" /> in SQL-Mode.xshd file.

But I couldn't figure out how to use it.

I tried: SELECT tablename.Price, url FROM tablename
tablename.Price returns null.

also tried
SELECT table1.Price, url FROM table1
JOIN table2
Got error: Unexpected token `JOIN` in position xx.

[2021-11-05 00:35] raconn opened #63 "Type initializer exception"
Hello - I cloned the latest of the repo. Trying t build on VS 2019 for Mac. Get the following exception. /LiteDB.Studio/packages/MSBuild.ILMerge.Task.1.1.3/build/MSBuild.ILMerge.Task.targets(88,5): error : The type initializer for 'System.Compiler.CoreSystemTypes' threw an exception.

Something I'm doing wrong?

Thanks.

[2021-12-15 06:59] sgf opened #64 "SELECT count from a sample table throw OutOfMemoryException"
i have about 35 million data in a sample table (only a string _id and a int value )
when im use SELECT count(*) FROM CodeTask
 LiteDB Studio throw OutOfMemoryException

LiteDB Studio v1.0.2.0

![image](https://user-images.githubusercontent.com/2557696/146138067-f3ebe64d-81f3-4d18-85f0-abfe4de973b3.png)

[2021-12-16 15:35] michalhainc opened #65 "Unable to select property containing dollar character"
Hello I have a query like this:
![image](https://user-images.githubusercontent.com/3962233/146401081-4f6e812d-6831-4b05-9fe8-a9440cb721f9.png)

How can I get just the contents of $guid?

![image](https://user-images.githubusercontent.com/3962233/146401190-0c5d2f38-7da9-488d-bc9e-4116d6ddec65.png)

[2022-02-10 19:17] tdhintz opened #66 "Can't connect when FIPS is enforced on Windows."
When a Windows machine has the FIPS 140-2 restriction enabled then connections failed with a message that the encryption being used is not FIPS compliant.

[2022-02-15 16:13] Paul-Williams commented on #57
Bump?

[2022-02-27 14:43] OmidID commented on #59
I suggesting to use AvaloniaUI

[2022-02-27 21:00] PatrickSachs commented on #20
In case anyone needs it, we needed this feature for ourselves and implemented it in a fork: https://github.com/Sahnee-DE/LiteDB.Studio/releases/tag/v1.0.2-SAHNEE

[2022-03-10 17:27] #63 closed

[2022-03-11 20:43] cemuka commented on #59
I've been checking to the issues to know if there is news on macos client so good to hear about that.

I also suggest Eto project.

https://github.com/picoe/Eto

[2022-03-21 09:42] OmidID commented on #59
@cemuka I am not sure if you can find something similar to AvaloniaEdit in Eto.

[2022-03-22 10:06] OmidID commented on #59
I try to use existing code and make it work with Avalonia. It is not complicated to migrate it to Avalonia.

@mbdavid Are you are interested?

![Screenshot 2022-03-22 at 11 03 30](https://user-images.githubusercontent.com/956077/159456390-e27a5095-e761-4cde-9a32-d2f137f147b6.png)

[2022-03-22 14:42] knuxbbs commented on #59
@OmidID I'm very interested.

[2022-03-22 18:55] OmidID commented on #59
More things done

<img width="1344" alt="Screenshot 2022-03-22 at 19 54 39" src="https://user-images.githubusercontent.com/956077/159555221-1b6be88e-8f58-455f-af88-d95682717f17.png">

[2022-03-24 19:30] OmidID commented on #26
@AlBannaTechno This is what I start doing. and not that much complicated.
https://github.com/OmidID/LiteDB.Studio

[2022-06-02 13:48] zbalkan commented on #66
In my case, I got the error when I used Shared connection Mode. But when I tried Direct Connection Mode, I managed to connect to the database.

[2022-06-03 10:25] zbalkan commented on #66
Since SHA1 class is not FIPS compliant but HMACSHA1 is, changing [the line](https://github.com/mbdavid/LiteDB/blob/1e014473976c779e94dccad7664266c748b4e945/LiteDB/Engine/FileReader/Legacy/AesEncryption.cs#L73) from
[code]
to

[code]

might suffice.

However, I tried to reproduce the error but there are differences between the latest release, which is almost two years old, and the current master. I

[2022-07-01 00:25] icodeintx commented on #7
I love this tool. I would like to see more documentation on script like mentioned above.

[2022-08-10 16:40] waffle-lord commented on #42
It would be cool to have another way to close tabs, since if you don't have a scroll wheel or middle mouse button you won't be able to close them. Like me from my laptop ... :(

[2022-09-14 07:53] gikotim commented on #63
I have the same issue, when compiling on a Mac Air (M2).
What is the solution?

Thanks!

[2022-10-03 18:12] suatsuphi opened #68 "Can you add some features? like sqlite studio"
Hi,
Can you add some features? like sqlite studio. this is just viewer. This studio not have import, export or add, delete and update features

[2022-10-29 09:59] bdaniel7 opened #70 "Create database using LiteDB.Studio?"
Is there a way to create a database using the Studio? Can you add this feature?

[2022-11-17 19:51] Aaron-G-42 commented on #70
Yes, go to Connect then for "Filename" specify a new (non-existent) file name.

For reference, in Sqlite Studio you open an empty file to get started... so this method of referencing non-existent was not intuitive to me.